.autocomplete {
  position: relative;
  width: calc(400px + 1rem);

  @media screen and (max-width: 640px) {
    width: calc(280px + 1rem);
  }

  &_select,
  &_label {
    display: none;
  }

  &_spinner {
    bottom: 38px;
    position: relative;
    left: calc(100% - 50px);
  }

  &_input {
    padding: 15px;
    width: 100%;
    border-bottom: none;
    border: none;
    background: var(--autocomplete-input-background);
    border-radius: 7px;
    font-size: 17px;
    color: var(--autocomplete-input-color);
  }
}
