.autocomplete {
  position: relative;
  width: calc(400px + 1rem);

  @media screen and (max-width: 640px) {
    width: calc(280px + 1rem);
  }

  &_information {
    position: absolute;
    background: var(--autocomplete-nothing-found-background);
    color: var(--autocomplete-nothing-found-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    list-style: none;
    margin-top: 0;
    max-height: 216px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    border-radius: 0px 0px 7px 7px;
    width: 100%;
    padding: 20px;

    &__error {
      color: var(--autocomplete-list-error-color);
    }
  }

  &_select,
  &_label {
    display: none;
  }

  &_spinner {
    position: absolute;
    left: calc(100% - 50px);
    top: 12px;
  }

  &_input {
    padding: 15px;
    width: 100%;
    border-bottom: none;
    border: none;
    background: var(--autocomplete-input-background);
    border-radius: 7px;
    font-size: 17px;
    color: var(--autocomplete-input-color);
  }
}
