:root {
  --white: #fff;
  --gray: #999;
  --red: #ff5252;
  --blue: #f2f9fc;
  --yellow: yellow;
  --quartz: #4c4c4c;
  --tinted-white: #f8f8f8;

  // AutoComplete component variables
  --autocomplete-item-active: var(--tinted-white);
  --autocomplete-item-selected: var(--blue);
  --autocomplete-item-hover: var(--tinted-white);

  --autocomplete-list-background: var(--white);
  --autocomplete-list-color: var(--quartz);
  --autocomplete-list-error-color: var(--red);

  --autocomplete-nothing-found-background: var(--white);
  --autocomplete-nothing-found-color: var(--quartz);

  --autocomplete-input-background: var(--tinted-white);
  --autocomplete-input-color: var(--quartz);

  --autocomplete-item-highlighted: var(--yellow);
  --autocomplete-spinner-fill: var(--gray);
}
