:root {
  --white: #fff;
  --gray: #999;
  --pink: #fde5e5;
  --blue: #f2f9fc;
  --yellow: yellow;
  --quartz: #4c4c4c;
  --tinted-white: #f8f8f8;

  // AutoComplete component variables
  --autocomplete-item-active: var(--blue);
  --autocomplete-item-selected: var(--pink);
  --autocomplete-item-hover: var(--blue);

  --autocomplete-list-background: var(--white);
  --autocomplete-list-color: var(--quartz);

  --autocomplete-input-background: var(--tinted-white);
  --autocomplete-input-color: var(--quartz);

  --autocomplete-item-highlighted: var(--yellow);
}
