.custom_autocomplete_container {
  width: 200px;
}

.custom_input {
  height: 30px;
  border-radius: 0px;
  border: 1px solid #da7c8d;
  background: transparent;
  padding: 10px;
  font-weight: 900;
}

.custom_item {
  background: #da7c8d !important;
  color: white;
  font-weight: 900;
}

.custom_list {
  color: black !important;
}
